.layout-topbar {
    background-color: #20272a;
    box-sizing: border-box;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9997;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}
.layout-content {
    margin-left: 250px;
    padding: 84px 24px 24px;
    height: calc(100%);
    position: fixed;
    left: 2px;
    background: #f9f9f9;
}
.menu {
    text-decoration: none;
    display: block;
    padding: 12px 24px;
    color: #000000;
    background-color: #ffffff;
    font-size: 16px;
    border-left: 4px solid transparent;
    border-bottom: 1px solid #c7c7c7;
    outline: none;
    cursor: pointer;
}